.about{
  padding-top: 4.437rem;
  padding-bottom: 4.437rem;
  background-color: $white;
  
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;



  &__content{


      
  }

  &__image{
 
  }
    

  

  &__text{
    margin: -1.187rem 1rem;
    text-align: center;

    @include breakpoint-up(medium){
      font-size: 1.4rem;
      margin: 2.8125rem 0.5rem;
      text-align: left;

    }

    h2{
      font-family:  'DM Serif Display', serif;
      margin: 0 0 4.437rem 0;
    }
    
    b{
      font-family:  'DM Serif Display', serif;

      @include breakpoint-up(medium){
        font-size: 1.4rem;
      }
   }
        
    p{
      color: $lightGrey;
      font-size: $font-sm;
      margin: 2.5rem 0;
      line-height: 1.6;

      @include breakpoint-up(medium){
        font-size: $font-md;
      }
    }

      
  }

}