.header{
   background: $black;


    


    nav{
        background-color: $black;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;

    }

    &__logo{

        img{
        width: 2.5rem;
        height: 2.5rem;
        filter: invert(100%);
        }

    }
    
    &__logo--dark{

        img{
        width: 2.5rem;
        height: 2.5rem;
        }

    }
   

}