.hero{
   
    

    .container{
        position: relative;
   
        
    

    }

    &__text{
        position: absolute;
        background-color: $lightGrey;
        width: 100%;
        padding-top: 8.3125rem;
        padding-bottom: 8.3125rem;
        margin-top: 4.6875rem;
        margin-bottom: 4.6875rem;
        z-index: 1;


        @include breakpoint-up(large){
            width: 62%;
            padding-top: 10.313rem;
            padding-bottom: 10.313rem;
            margin-right: 4.0625rem;
            margin-left: 4.0625rem;
        }

    }

    &__social{


    }

    &__rectangle{

    @include breakpoint-down(medium){
        position: absolute;
        background-color: $black;
        width: 42.710625rem;
        height: 32.560625rem;
        left: 82%;
        top: 1.573rem;
        transform: rotate(9.67deg);
    }

        

    @include breakpoint-up(large){
        position: absolute;
        background-color: $black;
        width: 164.711rem;
        height: 41.561rem;
        left: 55%;
        top: 4.573rem;
        transform: rotate(9.67deg);
        z-index: -1;

    }
}


}