.hero{
   
    

    .container{
        position: relative;
   
        
    

    }

    &__text{

      
            position: absolute;
            background-color: $lightGrey;
            width: 100%;
            padding-top: 3.6875rem;
            padding-bottom: 6.688rem;
            padding-left: 1rem;
            margin-top: 4.6875rem;
            margin-bottom: 4.6875rem;
            z-index: 1;


        @include breakpoint-up(medium){
            padding-left: 1.7rem;
            margin-left: 5rem;
        }


        @include breakpoint-up(large){
            width: 63%;
            padding-top: 8.313rem; //7.313rem
            padding-bottom: 8.313rem;
            padding-left: 5rem;
            margin-right: 4.0625rem;
            margin-left: 4.0625rem;
        }

    }

    &__social{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "link github twitter";
        gap: 1rem;
        position: absolute;
        top: 354px;
        left: 29%;
        z-index: 1;
        //filter: invert(100%);

        @include breakpoint-up(medium){
            top: 395px;
            left: 45%;
            
       

        }
        
        @include breakpoint-up(large){
            top: 363px; //test
            left: 80%;
            //filter: none;


        }


     
    }

    &__link{
        color: $white;
        transition: color 300ms ease-in-out;

        &:hover {
            color: blue;
            
        }

        @include breakpoint-down(medium){
            color: $black;
            font-size: 1rem;

        }
    }

    &__github{
        color: $white;
        transition: color 300ms ease-in-out;

        &:hover {
            color: purple;
           
        }

        @include breakpoint-down(medium){
            color: $black;
            font-size: 1rem;

        }
    }

    &__twitter{
        color: $white;
        transition: color 300ms ease-in-out;

        &:hover {
            color: rgb(37, 188, 238);
           
        }

        @include breakpoint-down(medium){
            color: $black;
            font-size: 1rem;

        }
    }

    &__rectangle{

    @include breakpoint-down(medium){
        position: absolute;
        background-color: $black;
        width: 42.710625rem;
        height: 39.561rem;
        left: 80%;
        top: 1.573rem;
        transform: rotate(9.67deg);
    }

        

    @include breakpoint-up(large){
        position: absolute;
        background-color: $black;
        width: 292.711rem; //214.711rem; //164.711rem;
        height: 71.561rem; //55.561rem; //41.561rem;
        left: 55%;
        top: 15.573rem; //5.573rem; //4.573rem; 
        transform: rotate(9.67deg);
        z-index: -1;

    }
}




    &__heading{
        font-family:  'Montserrat', sans-serif;
        font-size: $font-md;
        line-height: 2.5rem;

        b{
            font-weight: 700;
        }

    @include breakpoint-up(medium){
        font-size: 1.5rem;
        line-height: 3rem;
    }


        @include breakpoint-up(large){
            font-size: 2.235rem;
            line-height: 3.6785rem;
    
     
    }


    }

}


