.project{
    padding-top: 4.437rem;
    padding-bottom: 4.437rem;

    &__content{
        margin-left: 1.5rem;
        margin-right: 1.5rem;

    }

    &__1{


    }

    &__2{


    }

    &__3{


    }

}