.project2{

    padding-top: 2.437rem;
    padding-bottom: 4.437rem;
    line-height: 1.7;

    &__intro{
        h1{ // Section Title
            font-family:  'DM Serif Display', serif !important;
            margin: 0 0 2.437rem 0;
        
        }
        p{
            color: $lightGrey;
            font-size: $font-md;
            margin-bottom: 3rem;
          
          }
        


    }

    &__image1{
        box-shadow: 0px 3px 10px rgba(0,0,0,0.15);



    }

    &__text{

        p{
            color: $lightGrey;
            font-size: $font-md;
            margin: 3rem 0;
          }


    }

    &__link{
        line-height: 1.3;
        
        h5{
            font-weight: 600;
        }
        p{
            font-size: $font-sm;
            color: $black;
            margin: 0.5rem 0;
        }
        a{
            color: $black;

            &:hover{
                text-decoration: underline;
                color: goldenrod;
            }
            i{
                margin-left: 0.5rem;

            }
        }


    }


    &__grid{

        width: 100%;
        height: auto;
     

        .img-fluid{
            margin: 3rem 0;
            width: 90%;
            height: auto;
            box-shadow: 0px 3px 10px rgba(0,0,0,0.15);

        }
        
        


    }

    a{
        color: $black;

        &:hover{
            text-decoration: underline;
            color: goldenrod;
        }
        i{
            margin-left: 0.5rem;

        }

        @include breakpoint-down(medium){
            text-decoration: underline;
        }
    }


}