<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/style.css">
    <script src="https://kit.fontawesome.com/66a3cb6240.js" crossorigin="anonymous"></script>
    <title> Gus Jimenez | Full Stack Developer</title>
</head>

<body>

    <header class="header">
        <nav class="container container--pall">
            <a href="/" class="header__logo">
                <img src="/images/muffin-light.svg" alt="Muffin">
            </a>
        </nav>
    </header>
    <div class="project1 container">
        <div class="project1__intro">
            <h1>Star Wars Blog</h1>
            <p>A Front-End blog that illustrates Star Wars details. The application utilizes an API to display
                information on characters, planets and star-ships general information on the films from the official
                website for any fan to enjoy. It uses props and context and the top level in order to dynamically fetch
                and pass data to its children.</p>
        </div>
        <div class="project1__image1"> <img class="img-fluid rounded" src="/images/project-3/star-wars.png" alt="">
        </div>
        <div class="project1__text">

            <p>The main objective for this project was to apply a communication with an API. I also intergrated a
                favorites button on bootstrap cards
                in order to add them onto a "cart" placed on the navbar to replicate the use of a shopping cart -
                commonly used in typical e-commerce applications.
            </p>
            <div class="project1__link flex flex-jc-se">
                <div class="project1__technologies">
                    <h5>Technologies</h5>
                    <p>React</p>
                    <p>Context</p>
                    <p>API</p>
                    <p>Bootstrap</p>
                    <p>Scss</p>

                </div>
                <div class="project1__live">
                    <h5>Source</h5>
                    <p> Live Coming Soon</p>
                    <a href="https://github.com/jgustavoj/react-star-wars-blog-project">Repository <i
                            class="fas fa-external-link-alt"></i></a>
                </div>



            </div>
        </div>
        <div class="project1__grid flex flex-fd-c flex-ai-c">
            <img class="img-fluid rounded" src="/images/project-3/star-wars-1.png" alt="">
            <img class="img-fluid rounded" src="/images/project-3/star-wars-2.png" alt="">

        </div>

        <a href="javascript: goBack() "> Let's go back</a>


    </div>

    <footer class="footer">
        <div class="footer__content">
            <a href="/" class="footer__logo">
                <img src="/images/muffin-light.svg" alt="Muffin">
            </a>
            <div class="footer__social">
                <a class="footer__mail" href="#"><i class="far fa-envelope fa-2x"></i></a>
                <a class="footer__linkedin" href="#"><i class="fab fa-linkedin-in fa-2x"></i></a>
                <a class="footer__github" href="#"><i class="fab fa-github fa-2x"></i></a>
                <a class="footer__twitter" href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
            <div class="footer__year">
                @2021 Gus Jimenez
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <script src="/app/js/home.js"></script>

</body>